section#life {  
  display: flex;
  justify-content: center;
  align-items: center;
}
section#life .wrap {
  height: 100%;
}
section#life .wrap .name{
  gap: 30px;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
}
section#life .wrap .name h2 {
  text-transform: uppercase;
  font-size: 45px;
  font-weight: bold;
}
section#life .wrap .name a{
  text-transform: uppercase;
  color: #999;
  text-align: end;
  font-weight: bold;
  font-size: 11px;
  position: absolute;
  right: 0;
}
section#life .wrap .name a::after{
  content: "";
  background-image: url(../img/more.svg);
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: -5px;
  background-size: contain;
}
section#life .wrap .img{

  gap: 30px;
}
section#life .wrap .img article{

}
section#life .wrap .img article a{
  
}
section#life .wrap .img article a img{  
  width: 377px;
}
section#life .wrap .img article a h4{
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
}
section#life .wrap .img article a h3{
  font-size: 20px;
  font-weight: bold;
  margin: 15px 0;
}
section#life .wrap .img article a h3:hover{
  text-decoration: underline;
}
section#life .wrap .img article a p{
  color: #999;
  font-size: 12px;
}


