section#today {
  display: flex;
  align-items: center;
  justify-content: center;
}
section#today .wrap {
  width: 1600px;
}
section#today .wrap h2 {
  text-transform: uppercase;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 30px;
}
section#today .grid24{
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  grid-auto-rows: auto auto;
  column-gap: 30px;
}
section#today .grid24 article{
  
}
section#today .grid24 article:nth-child(1){  
  grid-column: 1;
  grid-row: 1 / span 2;
  position: relative;
}
section#today .grid24 article a{
  
}
section#today .grid24 article a img{
  width: 450px;
}
section#today .grid24 article:nth-child(1) a img{
 width: 638px;
 height: 957px;
}
section#today .grid24 article a div{
  color: white;
}
section#today .grid24 article:nth-child(1) a div{
  position: absolute;
  bottom: 93px;
  left: 67px;
}
section#today .grid24 article a h4 {
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
}
section#today .grid24 article a h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}
section#today .grid24 article a h3:hover{
  
  text-decoration: underline;
}
section#today .grid24 article:nth-child(1) a h3{
  font-size: 26px;
}
section#today .grid24 article a p {
  color: #999;
  font-size: 12px;
  line-height: 1.2;
}
section#today .grid24 article:nth-child(1) a p{
  color: white;
  font-weight: bold;
  font-size: 15px;
}




